*{
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}
body{margin:0;}

.navbar{
  display:flex;
  align-items: center;
  gap:5px;
  padding-left: 20px;
  background: linear-gradient(90deg,#FF3D45,#ffd900 99.9% 100%);
}
#memeFace{
  width: 31.31px;
  height: 26.22px;
}
#navbar-header{
  font-size:20.75px;
  color:white;
  font-weight: 500;
}
#form{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-self: center;
  padding: 7% 15% 5% 15%;
  gap: 10px;

}
#form-input-list{
  display:flex;
  gap:5px;
  
}
#form-input-list > input{
  width:50%;
  border: 1px solid #D5D4D8;
  border-radius: 3px;
  padding: 1%;
  font-family: 'Karla', sans-serif;
  font-size: 15px;
}
#form > button{
  padding: 1.5%;
  font-size: 15px;
  background:  linear-gradient(90deg,#FF3D45,#ffd900 99.9% 100%);
  border-radius: 5px;
  color:white;
  border:none;
  cursor:pointer;
} 
.meme{
    text-align: center;
    position: relative;}
.meme--image{
  max-width: 100%;
  border-radius: 3px;
 
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
